*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 300px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.dice{
    width: 30%;
    height: 300px;
    /* border: 1px solid red; */
}
button{
    display: block;
    margin: auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
    color: rgb(247, 46, 46);
    box-shadow: rgb(229, 22, 22) 0px 5px 15px;;
}
.abb{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.inner{
    width: 150px;
    height: 50px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
}
.inner>p{
    font-size: 26px;
    text-align: center;
   
}
#winner>h1{
    width: 400px;
    height: 40px;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
}
.shake{
    animation: shake 0.2s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(-200deg);
    }
    100%{
        transform: rotate(100deg);
    }
}